!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Wear
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .header
      .head
        .head__search
          %input.head__search__input{placeholder: "コーディネートやユーザーを探す"}
          %i.fas.fa-search
        .head__logo
          = link_to "WEAR", root_path, class: "head__logo__link"
        .head__user
          = link_to "#", class: "head__user__login" do
            = icon('fas', 'user-circle', class: "head__user__login--icon")
            ログイン
          |
          = link_to new_user_registration_path, class: "head__user__signup" do
            新規会員登録
    = yield
