.index-body
  .index-body__header
    .head
      .head__search
        %input.head__search__input{placeholder: "コーディネートやユーザーを探す"}
        %i.fas.fa-search
      .head__logo
        = link_to "WEAR", "#", class: "head__logo__link"
      .head__user
        = link_to "#", class: "head__user__login" do
          = icon('fas', 'user-circle', class: "head__user__login--icon")
          ログイン
        |
        = link_to "#", class: "head__user__signup" do
          新規会員登録
  .index-body__nav
    .navber
      .navber__tab--active ALL
      = link_to "MEN", "#", class: "navber__tab"
      = link_to "WOMEN", "#", class: "navber__tab"
      = link_to "KIDS", "#", class: "navber__tab"
      = link_to "WORLD", "#", class: "navber__tab"
  .index-body__main
    .index-body__main__tab
      .switch
        = link_to "おすすめ", "#", class: "switch__btn"
        = link_to "タイムライン", "#", class: "switch__btn"
    .index-body__main__contents