.index-body
  .index-body__header
    .head
      .head__search
        %input.head__search__input{placeholder: "コーディネートやユーザーを探す"}
        %i.fas.fa-search
      .head__logo
        = link_to "WEAR", "#", class: "head__logo__link"
      .head__user
        = link_to "#", class: "head__user__login" do
          = icon('fas', 'user-circle', class: "head__user__login--icon")
          ログイン
        |
        = link_to "#", class: "head__user__signup" do
          新規会員登録
  .index-body__nav
    .navber
      .navber__tab--active ALL
      = link_to "MEN", "#", class: "navber__tab"
      = link_to "WOMEN", "#", class: "navber__tab"
      = link_to "KIDS", "#", class: "navber__tab"
      = link_to "WORLD", "#", class: "navber__tab"
  .index-body__main
    .index-body__main__tab
      .switch
        .switch__active
          おすすめ
        = link_to "タイムライン", "#", class: "switch__btn"
    .index-body__main__contents
      .left
        .left__conteinar
          %h1 探す
          .row
            %i.fas.fa-camera.fa-fw
            = link_to "コーディネートを探す", "#", class: "row__one"
          .row
            %i.far.fa-user.fa-fw
            = link_to "ユーザーを探す", "#", class: "row__one"
          .row
            %i.fas.fa-tshirt.fa-fw
            = link_to "アイテムを探す", "#", class: "row__one"
          .row
            %i.fas.fa-store-alt.fa-fw
            = link_to "ショップを探す", "#", class: "row__one"
          .row
            %i.fas.fa-tag.fa-fw
            = link_to "ブランドを探す", "#", class: "row__one"
        .left__conteinar
          %h1 ユーザー
          .user
            = link_to "#" do
              .user__icon
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .btn
            = link_to "もっと見る", "#", class: "btn__look"
        .left__conteinar
          %h1 ブランド
          .row
            = link_to "UNIQLO", "#", class: "row__one"
          .row
            = link_to "GU", "#", class: "row__one"
          .row
            = link_to "CONVERSE", "#", class: "row__one"
          .row
            = link_to "WEGO", "#", class: "row__one"
          .row
            = link_to "NIKE", "#", class: "row__one"
          .row
            = link_to "adidas", "#", class: "row__one"
          .row
            = link_to "ZARA", "#", class: "row__one"
          .row
            = link_to "H&M", "#", class: "row__one"
          .row
            = link_to "Dr.Martens", "#", class: "row__one"
          .row
            = link_to "GLOBAL WORK", "#", class: "row__one"
          .btn
            = link_to "もっと見る", "#", class: "btn__look"
      .right