.index-body
  .index-body__header
    .head
      .head__search
        %input.head__search__input{placeholder: "コーディネートやユーザーを探す"}
        %i.fas.fa-search
      .head__logo
        = link_to "WEAR", "#", class: "head__logo__link"
      .head__user
        = link_to "#", class: "head__user__login" do
          = icon('fas', 'user-circle', class: "head__user__login--icon")
          ログイン
        |
        = link_to "#", class: "head__user__signup" do
          新規会員登録
  .index-body__nav
    .navber
      .navber__tab--active ALL
      = link_to "MEN", "#", class: "navber__tab"
      = link_to "WOMEN", "#", class: "navber__tab"
      = link_to "KIDS", "#", class: "navber__tab"
      = link_to "WORLD", "#", class: "navber__tab"
  .index-body__main
    .index-body__main__tab
      .switch
        .switch__active
          おすすめ
        = link_to "タイムライン", "#", class: "switch__btn"
    .index-body__main__contents
      .left
        .left__conteinar
          %h1 探す
          .row
            %i.fas.fa-camera.fa-fw
            = link_to "コーディネートを探す", "#", class: "row__one"
          .row
            %i.far.fa-user.fa-fw
            = link_to "ユーザーを探す", "#", class: "row__one"
          .row
            %i.fas.fa-tshirt.fa-fw
            = link_to "アイテムを探す", "#", class: "row__one"
          .row
            %i.fas.fa-store-alt.fa-fw
            = link_to "ショップを探す", "#", class: "row__one"
          .row
            %i.fas.fa-tag.fa-fw
            = link_to "ブランドを探す", "#", class: "row__one"
        .left__conteinar
          %h1 ユーザー
          .user
            = link_to "#" do
              .user__icon
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .user
            = link_to "#" do
              %i.fas.fa-user-circle.fa-2x.fa-fw
            .user__detail
              .user__detail__name WEAR Official
              .user__detail__follower
                %i.far.fa-user.fa-fw
                372,904
          .btn
            = link_to "もっと見る", "#", class: "btn__look"
        .left__conteinar
          %h1 ブランド
          .row
            = link_to "UNIQLO", "#", class: "row__one"
          .text
            = link_to "GU", "#", class: "text__one"
          .text
            = link_to "CONVERSE", "#", class: "text__one"
          .text
            = link_to "WEGO", "#", class: "text__one"
          .text
            = link_to "NIKE", "#", class: "text__one"
          .text
            = link_to "adidas", "#", class: "text__one"
          .text
            = link_to "ZARA", "#", class: "text__one"
          .text
            = link_to "H&M", "#", class: "text__one"
          .text
            = link_to "Dr.Martens", "#", class: "text__one"
          .text
            = link_to "GLOBAL WORK", "#", class: "text__one"
          .btn
            = link_to "もっと見る", "#", class: "btn__look"
        .left__conteinar
          %h1 急上昇ワード
          .row
            = link_to "秋コーデ", "#", class: "row__one"
          .text
            = link_to "スタッフセンバツ", "#", class: "text__one"
          .text
            = link_to "プチプラ", "#", class: "text__one"
          .text
            = link_to "タートルネック", "#", class: "text__one"
          .text
            = link_to "マキシ丈ワンピース", "#", class: "text__one"
          .text
            = link_to "レイヤードスタイル", "#", class: "text__one"
          .text
            = link_to "ロンT  白", "#", class: "text__one"
          .text
            = link_to "Reebok", "#", class: "text__one"
        .left__conteinar
          %h1 人気のカテゴリー
          .row
            = link_to "トップス", "#", class: "row__one"
          .text
            = link_to "ジャケット/アウター", "#", class: "text__one"
          .text
            = link_to "スカート", "#", class: "text__one"
          .text
            = link_to "パンツ", "#", class: "text__one"
          .text
            = link_to "シューズ", "#", class: "text__one"
          .text
            = link_to "帽子", "#", class: "text__one"
          .btn
            = link_to "もっと見る", "#", class: "btn__look"
      .right
        .right__conteinar
          .title
            %h1 #ボリューム袖
          .main
            .content
              .content__post
                = link_to "#" do
                  = image_tag src="/huku.jpg", class: "content__post__image"
              .content__lower
                .user
                  = link_to "#", class: "user__icon" do
                    .user__icon--image
                  .user__text
                    .name
                      おかぴ
                    .height
                      150cm
                .follow
                  = link_to "#", class: "follow__btn" do
                    %i.fas.fa-user-plus.fa-0.5x.fa-fw
                    フォローする
            .content
              .content__post
                = link_to "#" do
                  = image_tag src="/huku.jpg", class: "content__post__image"
              .content__lower
                .user
                  = link_to "#", class: "user__icon" do
                    .user__icon--image
                  .user__text
                    .name
                      おかぴ
                    .height
                      150cm
                .follow
                  = link_to "#", class: "follow__btn" do
                    %i.fas.fa-user-plus.fa-0.5x.fa-fw
                    フォローする
            .content
              .content__post
                = link_to "#" do
                  = image_tag src="/huku.jpg", class: "content__post__image"
              .content__lower
                .user
                  = link_to "#", class: "user__icon" do
                    .user__icon--image
                  .user__text
                    .name
                      おかぴ
                    .height
                      150cm
                .follow
                  = link_to "#", class: "follow__btn" do
                    %i.fas.fa-user-plus.fa-0.5x.fa-fw
                    フォローする
          .btn
            = link_to "もっと見る", "#", class: "btn__look"
        .right__conteinar
          .title
            %h1 #秋コーデ
          .main
            .content
              .content__post
                = link_to "#" do
                  = image_tag src="/huku.jpg", class: "content__post__image"
              .content__lower
                .user
                  = link_to "#", class: "user__icon" do
                    .user__icon--image
                  .user__text
                    .name
                      おかぴ
                    .height
                      150cm
                .follow
                  = link_to "#", class: "follow__btn" do
                    %i.fas.fa-user-plus.fa-0.5x.fa-fw
                    フォローする
            .content
              .content__post
                = link_to "#" do
                  = image_tag src="/huku.jpg", class: "content__post__image"
              .content__lower
                .user
                  = link_to "#", class: "user__icon" do
                    .user__icon--image
                  .user__text
                    .name
                      おかぴ
                    .height
                      150cm
                .follow
                  = link_to "#", class: "follow__btn" do
                    %i.fas.fa-user-plus.fa-0.5x.fa-fw
                    フォローする
            .content
              .content__post
                = link_to "#" do
                  = image_tag src="/huku.jpg", class: "content__post__image"
              .content__lower
                .user
                  = link_to "#", class: "user__icon" do
                    .user__icon--image
                  .user__text
                    .name
                      おかぴ
                    .height
                      150cm
                .follow
                  = link_to "#", class: "follow__btn" do
                    %i.fas.fa-user-plus.fa-0.5x.fa-fw
                    フォローする
          .btn
            = link_to "もっと見る", "#", class: "btn__look"
        .right__conteinar
          .title
            %h1 ランキング
          .main
            .content
              .content__rank
                1
              .content__post
                = link_to "#" do
                  = image_tag src="/huku.jpg", class: "content__post__image"
              .content__lower
                .user
                  = link_to "#", class: "user__icon" do
                    .user__icon--image
                  .user__text
                    .name
                      おかぴ
                    .height
                      150cm
                .follow
                  = link_to "#", class: "follow__btn" do
                    %i.fas.fa-user-plus.fa-0.5x.fa-fw
                    フォローする
            .content
              .content__rank--second
                2
              .content__post
                = link_to "#" do
                  = image_tag src="/huku.jpg", class: "content__post__image"
              .content__lower
                .user
                  = link_to "#", class: "user__icon" do
                    .user__icon--image
                  .user__text
                    .name
                      おかぴ
                    .height
                      150cm
                .follow
                  = link_to "#", class: "follow__btn" do
                    %i.fas.fa-user-plus.fa-0.5x.fa-fw
                    フォローする
            .content
              .content__rank--three
                3
              .content__post
                = link_to "#" do
                  = image_tag src="/huku.jpg", class: "content__post__image"
              .content__lower
                .user
                  = link_to "#", class: "user__icon" do
                    .user__icon--image
                  .user__text
                    .name
                      おかぴ
                    .height
                      150cm
                .follow
                  = link_to "#", class: "follow__btn" do
                    %i.fas.fa-user-plus.fa-0.5x.fa-fw
                    フォローする
          .btn
            = link_to "もっと見る", "#", class: "btn__look"
        .right__conteinar
          .title
            %h1 おすすめのコーディネート
          .main
            .content
              .content__post
                = link_to "#" do
                  = image_tag src="/huku.jpg", class: "content__post__image"
              .content__lower
                .user
                  = link_to "#", class: "user__icon" do
                    .user__icon--image
                  .user__text
                    .name
                      おかぴ
                    .height
                      150cm
                .follow
                  = link_to "#", class: "follow__btn" do
                    %i.fas.fa-user-plus.fa-0.5x.fa-fw
                    フォローする
            .content
              .content__post
                = link_to "#" do
                  = image_tag src="/huku.jpg", class: "content__post__image"
              .content__lower
                .user
                  = link_to "#", class: "user__icon" do
                    .user__icon--image
                  .user__text
                    .name
                      おかぴ
                    .height
                      150cm
                .follow
                  = link_to "#", class: "follow__btn" do
                    %i.fas.fa-user-plus.fa-0.5x.fa-fw
                    フォローする
            .content
              .content__post
                = link_to "#" do
                  = image_tag src="/huku.jpg", class: "content__post__image"
              .content__lower
                .user
                  = link_to "#", class: "user__icon" do
                    .user__icon--image
                  .user__text
                    .name
                      おかぴ
                    .height
                      150cm
                .follow
                  = link_to "#", class: "follow__btn" do
                    %i.fas.fa-user-plus.fa-0.5x.fa-fw
                    フォローする
          .btn
            = link_to "もっと見る", "#", class: "btn__look"